
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<main>
    <div class="user-header-wrapper flexbox">
        <div class="user-header-inner flexbox">
          <!-- Adicione a imagem de fundo do usuário aqui -->
            <div class="user-header-overlay"></div>
            <img class="user-header" [src]="user.banner" alt="">
        </div>
    </div>
    <div class="user-info-bar">
        <div class="ufo-bar-col1">
        </div>
        <div class="ufo-bar-col2">
            <div class="ufo-bar-col2-inner">
              <!-- Adicione a imagem do usuário aqui -->
                <div class="user-icon-wrapper">
                    <img class="user-icon" [src]="user.fotoPerfil" alt="">
                </div>
            </div>
        </div>
        <div class="ufo-bar-col3">
            <div class="ufo-bar-col3-inner">
                <div class="username-wrapper-outer">
                    <div class="username-wrapper">
                        <h3 class="username-name">{{user.nome}}  </h3>

                        <p class="username-tag">@{{user.username}}</p>
                    </div>
                    <div>
                        <a class="ufo-bar-fff" href=""><span>857</span> Followers</a>
                        <a class="ufo-bar-fff" href=""><span>137</span> Following</a>
                    </div>
                </div>
            </div>
        </div>

       <div class="ufo-bar-col4">
  <div class="ufo-bar-col4-inner">

    <button class="button2 btn-primary2" *ngIf="!usuarioAtivo">
      <i class="uil uil-plus"></i>
      Seguir
      <div class="btn-secondary2"></div>
    </button>

    <button class="button2 btn-primary2" *ngIf="usuarioAtivo" (click)="editarPerfil()">
      <i class="uil uil-edit"></i>
      Editar
      <div class="btn-secondary2"></div>
    </button>

  </div>
</div>





        <div class="ufo-bar-col5">
        </div>
    </div>
    <div class="user-info-bar2">
        <div class="ufo-bar2-col1">
        </div>
        <div id="ufo-home" class="ufo-bar2-col2 ufo-bar2-block">
            <div class="ufo-bar2-col2-inner flexbox">
                <span><i class="uil uil-trophy"></i></span>
                <h3>Publicações</h3>
            </div>
        </div>
        <div id="ufo-videos" class="ufo-bar2-col3 ufo-bar2-block">
            <div class="ufo-bar2-col3-inner flexbox">
                <span><i class="uil uil-star"></i></span>
                <h3>Biblioteca </h3>
            </div>
        </div>
        <div id="ufo-images" class="ufo-bar2-col4 ufo-bar2-block">
            <div class="ufo-bar2-col4-inner flexbox">
                <span><i class="uil uil-comment-alt"></i></span>
                <h3>Favoritos </h3>
            </div>
        </div>
        <div id="ufo-about" class="ufo-bar2-col6 ufo-bar2-block">
            <div class="ufo-bar2-col6-inner flexbox">
                <span><i class="uil uil-user"></i></span>
                <h3>Sobre mim</h3>
            </div>
        </div>
        <div class="ufo-bar2-col7">
        </div>
    </div>

    <app-publicacao> </app-publicacao>
</main>



