<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">

      <form>
        <button type="button" class="btn-fechar" (click)="fecharCard()">
         ×
       </button>

        <h2>Criar publicação</h2>

        <!-- Título -->
        <div>
          <label for="titulo" >Título</label>

          <input
            type="text"
            id="titulo"
            name="titulo"
            placeholder="Digite o título da publicação"
            [(ngModel)]="titulo"
          >
        </div>

        <!-- Conteúdo -->
        <div>
          <label for="conteudo">Conteúdo</label>

          <textarea
            id="conteudo"
            name="conteudo"
            placeholder="O que você quer compartilhar?"
            [(ngModel)]="conteudo"
          ></textarea>
        </div>

        <!-- Gênero -->
        <div>
          <label for="genero">Gênero</label>
          <select  id="genero" name="genero" [(ngModel)]="generoSelecionado">
            <option [ngValue]="null"> Selecione um gênero </option>

            <option *ngFor="let genero of listaGeneros" [ngValue]="genero"> {{ genero.nome }} </option>
          </select>
        </div>

<!-- Livro relacionado -->
<div>
  <label for="livro">Livro relacionado</label>
  <button
    type="button"
    class="btn-selecionar-livro"
    (click)="abrirPesquisaLivro()"
  >
    + Selecionar livro
  </button>

</div>

<!-- Prévia do Livro -->
<div *ngIf="edicaoSelecionada">
  <app-card-livro
    *ngIf="edicaoSelecionada"
    [edicao]="edicaoSelecionada">
  </app-card-livro>

</div>


        <!-- Mídia -->
        <div>
          <label for="midia">Imagem</label>

          <input
            type="file"
            id="midia"
            name="midia"
            (change)="selecionarMidia($event)"
          >
        </div>
        <div *ngIf="midia">
          <img [src]="midia" alt="Prévia da imagem">
        </div>

        <button type="submit" class="button2" (click)="publicar()">
          Publicar
        </button>

      </form>

    </div>
  </div>
  <!-- MODAL DE PESQUISA -->
  <div class="overlay-pesquisa" *ngIf="pesquisaLivroAberta">
    <app-card-pesquisar-livro
  *ngIf="pesquisaLivroAberta"
  (fechar)="fecharPesquisaLivro()"
  (edicaoSelecionada)="selecionarEdicao($event)">
</app-card-pesquisar-livro>
  </div>
</div>
