<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">

      <form>
        <button type="button" class="btn-fechar" (click)="fecharCard()">
         ×
       </button>

        <h2>Criar publicação</h2>

        <!-- Título -->
        <div>
          <label for="titulo">Título</label>

          <input
            type="text"
            id="titulo"
            name="titulo"
            placeholder="Digite o título da publicação"
          >
        </div>

        <!-- Conteúdo -->
        <div>
          <label for="conteudo">Conteúdo</label>

          <textarea
            id="conteudo"
            name="conteudo"
            placeholder="O que você quer compartilhar?"
          ></textarea>
        </div>

        <!-- Gênero -->
        <div>
          <label for="genero">Gênero</label>

          <select id="genero" name="genero">
            <option value="">Selecione um gênero</option>
            <option value="romance">Romance</option>
            <option value="fantasia">Fantasia</option>
            <option value="ficcao">Ficção</option>
          </select>
        </div>

<!-- Livro relacionado -->
<div>
  <label for="livro">Livro relacionado</label>

  <select
    id="livro"
    name="livro"
    [(ngModel)]="livroSelecionado">

    <option [ngValue]="null">Não relacionar um livro</option>

    <option
      *ngFor="let livro of listaLivros"
      [ngValue]="livro">
      {{ livro.titulo }}
    </option>

  </select>
</div>

<!-- Prévia do Livro -->
<div>
  <app-card-livro
    *ngIf="livroSelecionado"
    [livro]="livroSelecionado">
  </app-card-livro>

</div>


        <!-- Mídia -->
        <div>
          <label for="midia">Imagem</label>

          <input
            type="file"
            id="midia"
            name="midia"
          >
        </div>

        <button type="submit" class="button2" (click)="publicar()">
          Publicar
        </button>

      </form>

    </div>
  </div>
</div>
